{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Editar {{usuario.nome}} - EmpreendeX </title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

</head>

<body style="background: var(--bs-primary);">
    
{% include "nav.html" %}
<div>
    {% if request.GET.mensagem != None %}
    {% if request.GET.status != 'error' %}
    <div class="alert alert-success">
        {{ request.GET.mensagem }}
    </div>
    {% else %}
    <div class="alert alert-warning">
        {{ request.GET.mensagem }}
    </div> 
    {% endif %}
    {% endif %}
</div>
    <section class="py-5">
        
        <div class="container">

            <h2 class="text-center mb-4">Editar perfil</h2>
            <div class="col-md-8 offset-md-2 d-sm-flex d-md-flex d-lg-flex justify-content-sm-center justify-content-md-center justify-content-lg-center">
              {% if usuario.tipo_usuario == 'C' %}
                <form method="post" enctype="multipart/form-data" action="{% url 'usuarios:editar_user' usuario.id %}">
                    <!--area cliente -->
                    
                    <div id="form-cliente">
                        
                        <div class="text-start">
                            <label>Nome</label>
                            <input class="form-control mb-3" type="text" placeholder="Nome" name="pessoa" value="{{pessoa.nome}}">
                        </div>
                        <div class="text-start">
                            <label>Usuário</label>
                            <input class="form-control mb-3" type="username" placeholder="Username" name="usuario" value="{{usuario.username}}">
                        </div>
                        <div class="text-start">
                            <label>Senha</label>
                            <input class="form-control mb-3" type="password" placeholder="Senha" name="senha" required maxlength="8" value="{{usuario.senha}}">
                        </div>
                        <div class="text-start">
                            <label>CPF</label>
                            <input class="form-control mb-3" type="number" name="cpf" placeholder="CPF" required value="{{pessoa.cpf}}">
                        </div>
                        <div class="text-start">
                            <label>Email</label>
                            <input class="form-control mb-3" type="email" placeholder="Email" name="email" required value="{{pessoa.email}}">
                        </div>
                        <div class="text-start">
                            <label>Logradouro</label>
                            <input class="form-control mb-3" type="text" name="logradouro" placeholder="Logradouro" value="{{endereco.logradouro}}">
                        </div>
                        <div class="text-start">
                            <label>Bairro</label>
                            <input class="form-control mb-3" type="text" name="bairro" placeholder="Bairro" value="{{endereco.bairro}}">
                        </div>
                        <div class="text-start">
                            <label>Número</label>
                            <input class="form-control mb-3" type="number" name="numero" placeholder="Número" value="{{endereco.numero}}">
                        </div>
                        
                        <div class="text-start">
                            <label>Inscrição estadual</label>
                            <input class="form-control mb-3" type="text" name="complemento" placeholder="Complemento" value="{{endereco.complemento}}">
                        </div>
                        <div class="text-start">
                            <label>Estado</label>
                            <select class="form-control mb-3" name="cidade" id="cidade">
                            <option value="">----</option>
                            {% for estado, cidades_estado in cidades.items %}
                                {% for city in cidades_estado %}
                                    <option value="{{ city }}" {% if endereco.cidade == city %}selected{% endif %}>
                                        {{ city }} - {{ estado }}
                                    </option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                        </div>
                    <!--     <input class="form-control mb-3" type="text" name="cidade" placeholder="Endereço"> -->
                        <div class="text-start">
                            <label>Data de nascimento</label>
                            <input class="form-control mb-3" type="date" name="data_nascimento" placeholder="Data de nascimento" value="{{pessoa.data_nascimento |date:'Y-m-d' }}">
                        </div> 
                        <div class="text-start">
                            <label>Telefone</label>
                            <input class="form-control mb-3" type="tel" name="telefone" placeholder="telefone" value="{{pessoa.telefone}}">
                        </div>  
                    </div>
                    <button class="btn btn-outline-light w-100 mt-4" type="submit">Fazer alterações</button>
                    
                </form>
                {% else %}
                <form method="post" enctype="multipart/form-data" action="{% url 'usuarios:editar_user' usuario.id %}">
                    <div id="form-empreendedor">
                        <div class="text-start">
                            <label>Nome fantasia</label>
                            <input class="form-control mb-3 me-xl-0" type="text" placeholder="Nome fantasia" name="nome_fantasia" value="{{pessoa.nome_fantasia}}">
                        </div>
                        <div class="text-start">
                            <label>Razão social</label>
                            <input class="form-control mb-3" type="text" placeholder="Razão social" name="razao_social" value="{{pessoa.razao_social}}">
                        </div>
                        <div class="text-start">
                            <label>Email</label>
                            <input class="form-control mb-3" type="email" placeholder="Email" name="email" value="{{pessoa.email}}">
                        </div>
                        <div class="text-start">
                            <label>CNPJ</label>
                            <input class="form-control mb-3" type="number" name="cnpj" placeholder="CNPJ" value="{{pessoa.cnpj}}">
                        </div>
                        <div class="text-start">
                            <label>Logradouro</label>
                            <input class="form-control mb-3" type="text" name="logradouro" placeholder="Logradouro" value="{{endereco.logradouro}}">
                        </div>
                        <div class="text-start">
                            <label>Bairro</label>
                            <input class="form-control mb-3" type="text" name="bairro" placeholder="Bairro" value="{{endereco.bairro}}">
                        </div>
                        <div class="text-start">
                            <label>Número</label>
                            <input class="form-control mb-3" type="number" name="numero" placeholder="Número" value="{{endereco.numero}}">
                        </div>
                        <div class="text-start">
                            <label>Inscrição estadual</label>    
                            <input class="form-control mb-3" type="number" name="ins_estadual" placeholder="Inscrição estadual">
                        </div>
                        <div class="text-start">
                            <label>Usuário</label>
                            <input class="form-control mb-3" type="text" name="usuario" placeholder="Nome do usuario" value="{{usuario.username}}">
                        </div>
                        <div class="text-start">
                            <label>Senha</label>
                            <input class="form-control mb-3" type="password" placeholder="Senha" name="senha" value="{{usuario.senha}}">
                        </div>
                        <div class="text-start">
                            <label>Telefone</label>
                            <input class="form-control mb-3" type="tel" placeholder="telefone" name="telefone" value="{{pessoa.telefone}}">
                        </div>
                        <div class="text-start">
                            <label>Descriçao de serviços</label>
                            <input class="form-control mb-3" type="text" placeholder="Descrição Serviços" name="descricao_servicos" value="{{pessoa.descricao_servicos}}">
                        </div>
                        <div class="text-start">
                            <label>Estado</label>
                            <select class="form-control" name="cidade" id="cidade" value="{{endereco.cidade}}">
                                <option value="">----</option>
                                {% for estado, cidades_estado in cidades.items %}
                                    {% for city in cidades_estado %}
                                        <option value="{{ city }}" {% if endereco.cidade == city %}selected{% endif %}>
                                            {{ city }} - {{ estado }}
                                        </option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>  
                    </div>
                <button class="btn btn-outline-light w-100 mt-4" type="submit">Fazer alterações</button>
            </form> 
                {% endif %}
            </div>
        </div>
    </section>
    
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Serviços</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Empreendedores próximos</a></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Sobre</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Companhia</a></li>
                        <li><a href="#">Time</a></li>
                        <li><a href="#">Legado</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column">
                    <h3 class="fs-6 fw-bold">Carreira</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Vagas abertas</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#">Benefícios</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last">
                    <div class="fw-bold d-flex align-items-center mb-2"><img src="{% static 'assets/img/logos_semana_academica.png' %}" width="207" height="64"></div>
                    <p class="text-muted">Todos os direitos reservados</p>
                </div>
            </div>
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2025 EmpreendeX</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                    <li class="list-inline-item"></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>
{% block extra_js %}
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
      $(document).ready(function() {
    let params = new URLSearchParams(window.location.search)
    $('#').select2();
  });
</script>
{% endblock %}
</html>