
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - EmpreendeX</title>
    <link rel="stylesheet" href="{% static '/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static '/assets/css/styles.min.css' %}">
</head>
{% include "nav.html" %}
<body style="background: var(--bs-primary);">

    <section class="py-5" style="background: var(--bs-primary);margin: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col" style="font-size: 43px;height: 380.75px;"><span style="font-size: 47px;font-weight: bold;">Está pronto para&nbsp;</span><span style="color: var(--bs-success);font-size: 47px;font-weight: bold;">maximizar suas vendas&nbsp;</span><span style="color: rgb(255,255,255);font-size: 47px;font-weight: bold;">e&nbsp;</span><span style="color: var(--bs-success);font-size: 47px;font-weight: bold;">dobrar seus lucros ?</span></div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 offset-xl-0 text-start" style="height: 99px;"><span class="text-start mt-0 mb-0 pb-0 ms-0" style="font-size: 25px;font-weight: bold;margin: 0px;padding: 0px;">A gente te ajuda a divulgar seus produtos e serviços</span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="height: auto;"><a class="btn btn-primary" role="button" style="background: var(--bs-success);color: var(--bs-emphasis-color);margin-bottom: 10px;" href="{% url 'usuarios:registro' %}">Comece agora</a><a class="btn btn-primary" role="button" style="background: var(--bs-focus-ring-color);color: var(--bs-light-bg-subtle);border-color: var(--bs-light);margin: 0px;margin-left: 13px;margin-bottom: 10px;" href="{% url 'usuarios:sobre' %}">Saiba mais</a></div>
                    </div>
                    <ul class="list-unstyled" style="margin-left: -9px;">
                        <li class="d-xl-flex align-items-xl-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-success d-xl-flex align-items-xl-center" style="width: 36px;opacity: 1;filter: hue-rotate(0deg);">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>Vendas em um clique</li>
                        <li class="text-start d-xl-flex align-items-xl-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-success d-xl-flex align-items-xl-center" style="width: 36px;">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>Cadastro unificado</li>
                        <li class="d-xl-flex align-items-xl-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-success d-xl-flex align-items-xl-center" style="width: 36px;">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>Praticidade e inovações</li>
                        <li class="d-xl-flex align-items-xl-center"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-circle-fill text-success d-xl-flex align-items-xl-center" style="width: 36px;">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                            </svg>Localização certa</li>
                    </ul>
                </div>
                <div class="col-md-5 col-xl-4 col-xxl-4 offset-xl-1 offset-xxl-2" style="width: auto;"><img src="{% static 'assets/img/pessoa_sorrindo.png' %}" width="402" height="722" style="background: #ffffff;border-radius: 25px;display: inline;width: inherit;height: inherit;"></div>
            </div>
        </div>
    </section>
    <section></section>
    {% include "footer.html" %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>