{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product - EmpreendeX</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body>
    {% include "nav.html" %}
    <section class="py-5" style="background: var(--bs-primary);">
        <div class="container py-5">
            <h2 class="text-center mb-4">Como chegar?&nbsp;</h2>
            <div class="row">
                <div class="col-12 col-md-7 mb-3 mb-md-0">
                    <div id="map"><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAwcoaYTAoEneM5sxriMtwrKPI_fyA6WyM&amp;origin=Marseille%2C+France&amp;destination=Cannes%2C+France&amp;zoom=11" width="100%" height="400"></iframe></div>
                </div>
                <div class="col-12 col-md-5">
                    <div>
                        <h3 class="text-start mb-4" id="nome-empresa"><b>Nome: </b>{{empreendedor.razao_social}}</h3>
                        <p id="categoria"><b>Descrição Serviços:</b> {{empreendedor.descricao_servicos}}</p>
                        <p id="telefone"><b>Telefone: </b>{{empreendedor.telefone}}</p>
                        <p id="endereco"><b>Endereço: </b>{{endereco.logradouro}} - {{endereco.bairro}} N° {{endereco.numero}} - {{endereco.cidade}}&nbsp;64077-265</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
 
</body>

</html>
