{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cadastre-se - EmpreendeX</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body>
    {% include "nav.html" %}
    <section class="bg-primary py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Bem-vindo</h2>
                    <p>Estamos muito felizes que você decidiu se cadastrar em nossa plataforma, complete os campos e verá como ficou muito mais fácil encontrar novos clientes</p>
                    
                </div>
                
            </div>
            <div class="row" style="margin-right: 0px;margin-left: 0px;margin-bottom: 25px;margin-top: -20px;">
                <div class="col text-center">
                    <div class="btn-group pe-0" role="group"><button class="btn btn-primary js-login-toggle" type="button" style="border-color: var(--bs-light);" data-target-form="#registro-empreendedor">Empreendedor</button><button class="btn btn-primary js-login-toggle" type="button" style="border-color: var(--bs-light);" data-target-form="#registro-cliente">Cliente</button></div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card" id="registro-empreendedor">
                        <div class="card-body text-center bg-white border rounded d-flex flex-column align-items-center">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                </svg>
                                   
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                <img id="preview-image" src="" alt="preview" style="width: 100%; height: 100%; object-fit: cover; display: none; border-radius: 50%;">
    
                           </div>
                                {% if request.GET.mensagem %} 
                                    {% if request.GET.status != 'error' %}
                                    <div class="alert alert-success">
                                        {{ request.GET.mensagem }}
                                    </div>
                                    {% else %}
                                    <div class="alert alert-warning">
                                        {{ request.GET.mensagem }}
                                    </div> 
                                    {% endif %}
                                {% endif %}
                            <!--     {% if status == 'error' %}
                                    <p class="text-danger">{{mensagem}}</p>
                                {% else %}
                                    <p class="text-success">{{mensagem}}</p>
                                {% endif %} -->
                                <form method="post" action="{% url 'usuarios:create_user' %}"  enctype="multipart/form-data">
                                    <label class="form-label" style="color: var(--bs-primary);" for="foto_empresa">Selecionar foto</label><input class="d-xl-flex visually-hidden" type="file" id="foto_empresa" name="foto">                    
                                    <div>
                                        <input type="hidden" name="latitude" id="latitude">
                                        <input type="hidden" name="longitude" id="longitude">
                                    </div>                             
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Nome fantasia</label>
                                        <input class="form-control" type="text" placeholder="Nome Fantasia" name="nome_fantasia" style="border-radius: 16px;height: 46.7812px;padding: 9.6px 24px;min-width: 0;opacity: 1;border-width: 1px;border-color: var(--bs-dark-bg-subtle);"  required="">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Razão social</label>
                                        <input class="form-control" type="text" placeholder="Razão Social" name="razao_social" style="border-radius: 16px;height: 46.7812px;padding: 9.6px 24px;min-width: 0;opacity: 1;border-width: 1px;border-color: var(--bs-dark-bg-subtle);"  required="">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Telefone</label>
                                        <input class="form-control" type="tel" placeholder="Telefone" name="telefone" style="border-radius: 16px;height: 46.7812px;padding: 9.6px 24px;min-width: 0;opacity: 1;border-width: 1px;border-color: var(--bs-dark-bg-subtle);" >
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">E-mail</label>
                                        <input class="form-control" type="email" name="email" placeholder="EMAIL">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Descrição de serviços</label>
                                        <input class="form-control" type="text" name="descricao_servicos" placeholder="Descrição Serviços">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Logradouro</label>
                                        <input class="form-control mb-3" type="text" name="logradouro" placeholder="Logradouro" >
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Bairro</label>
                                        <input class="form-control mb-3" type="text" name="bairro" placeholder="Bairro" >
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Número</label>
                                        <input class="form-control mb-3" type="number" name="numero" placeholder="Número">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Estado</label>
                                        <select class="form-control" name="cidade" id="cidade">
                                        <option value="">----</option>
                                        {% for estado, cidades_estado in cidades.items %}
                                            {% for city in cidades_estado %}
                                                <option value="{{ city }}" {% if endereco.cidade == city %}selected{% endif %}>
                                                    {{ city }} - {{ estado }}
                                                </option>
                                            {% endfor %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">CNPJ</label>
                                        <input class="form-control" type="number" name="cnpj"  placeholder="CPNJ"  oninput="limitarDigitos(this, 14)" required>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Inscrição estadual</label>
                                        <input class="form-control" type="number" name="insc_estadual" placeholder="Inscrição Estadual"  oninput="limitarDigitos(this, 9)">
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Nome de usuario</label>
                                        <input class="form-control" type="username" name="usuario" placeholder="Nome de usuario" style="border-color: var(--bs-dark-bg-subtle);" required>
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label style="color: #000000;">Senha</label>
                                        <input class="form-control" type="password" name="senha" placeholder="Senha" maxlength="8" minlength="8" style="border-color: var(--bs-dark-bg-subtle);" required>
                                    </div>
                                    <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Cadastrar</button></div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="card" id="registro-cliente" style="display: block;">
                        <div class="card-body text-center border rounded d-flex flex-column align-items-center" style="background: var(--ref-gray-700);border-style: none;border-color: rgba(0,0,0,0);">
                            <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                </svg>
                                   
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"></path>
                                <img id="preview-image2" src="" alt="preview" style="width: 100%; height: 100%; object-fit: cover; display: none; border-radius: 50%;">
    
                            </div>
                                
                            <form method="post" action="{% url 'usuarios:create_user' %}" enctype="multipart/form-data">
                                <input type="hidden" name="latitude" id="latitude">
            

                                <input type="hidden" name="longitude" id="longitude">
                                <label class="form-label" style="color: var(--bs-primary);" for="foto_empresa">Selecionar foto</label>
                                <input class="d-xl-flex visually-hidden" type="file" id="foto_empresa" name="foto">              
                                <div class="mb-3 text-start">
                                    <label">Nome</label>
                                    <input class="form-control" type="text" name="nome" placeholder="Nome" required>
                                </div>
                                <div class="mb-3 text-start">
                                    <label">Usuário</label>
                                    <input class="form-control" type="username" name="usuario" placeholder="usuário" required>
                                </div>
                                <div class="mb-3 text-start">
                                    <label">Senha</label>
                                    <input class="form-control" type="password" name="senha" placeholder="senha" maxlength="8" minlength="8" required>
                                </div>
                                <div class="mb-3 text-start">
                                    <label">CPF</label>
                                    <input class="form-control" type="number" name="cpf" placeholder="CPF" oninput="limitarDigitos(this, 11)" required>
                                </div>
                                <div class="mb-3 text-start">
                                    <label">Email</label>
                                    <input class="form-control" type="email" name="email" placeholder="email">
                                </div>
                                <div class="mb-3 text-start">
                                    <label">Data de nascimento</label>
                                    <input class="form-control" type="date" name="data_nascimento" placeholder="Data de Nascimento" required>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">Cadastrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    <script src="{% static 'assets/js/jquery.min.js'%} "></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
    <script>
        function limitarDigitos(input, limite) {
          if (input.value.length > limite) {
            input.value = input.value.slice(0, limite);
          }
        }
      </script>
<script>
    document.getElementById("foto_empresa").addEventListener("change", function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById("preview-image");

        if (file && file.type.startsWith("image/")) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    });
</script>
<script>
    document.getElementById("foto_empresa").addEventListener("change", function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById("preview-image2");

        if (file && file.type.startsWith("image/")) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            document.getElementById("location").innerHTML = "Geolocalização não é suportada por este navegador.";
        }
  

    function showPosition(position) {
        
        let latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        
       document.getElementById('latitude').value = latitude;
       document.getElementById('longitude').value = longitude;
       lat =  document.getElementById('latitude').value;
       long =  document.getElementById('longitude').value;
       console.log('lat: ' + lat + 'long:' + long)
        
    }


    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "Usuário negou a solicitação de Geolocalização.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Informação de localização não está disponível.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "A solicitação para obter a localização expirou.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "Ocorreu um erro desconhecido.";
                break;
        }
    }
});
</script>
</body>

</html>