{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-br">



<body style="background: var(--bs-primary);">
    {% include "nav.html" %}
    <section class="d-xl-flex justify-content-xl-center py-5">
        <div class="container">
            <div class="border rounded d-sm-flex d-xl-flex justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-center pb-lg-0 mb-lg-0 pe-lg-0 min-vh-25" style="height: 236px;background: #ffffff;">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <h1 class="text-center" style="color: var(--bs-primary);">Descubra novos empreendedores locais com apenas um clique&nbsp;</h1>
                        <form method="get">
                            <div class="input-group w-auto"><select class="form-select w-" style="background: var(--bs-primary);color: var(--bs-light-bg-subtle);">
                                    <optgroup label="Categoria">
                                        <option value="12" selected="">Varejista</option>
                                        <option value="13">Farmaceutica</option>
                                        <option value="14">Papelaria</option>
                                    </optgroup>
                                </select><input class="form-control" type="text" placeholder="Procurar por bairro" name="search_bairro"><button class="btn btn-primary" type="submit">Buscar</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 40px;">
                {% for empreendedor in empreendedores %}
                <div class="col-12 col-md-4">
                    
                    <div>
                        <h6><b>{{empreendedor.razao_social | upper}}</b></h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;"><img class="img-fluid" src="{% static 'assets/img/logo_assai.png' %}" width="220" height="158" style="display: block;border-style: none;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="{% url 'usuarios:detail_empreendedor' id %}">Ver detalhes</a></div>
                    <p class="mb-1">Varejista</p>
                    <p class="mb-1">(86) 9 3033-3030</p>
                    {% if empreendedor.email %}
                        <p class="mb-1">{{empreendedor.email}}</p>
                    {% else %}
                        <p class="mb-1">Não informado</p>
                    {% endif %}
                    <p class="mb-1">R. Gonçalo Nunes, 1000 - São Raimundo, Teresina - PI, 64075-080</p>
                    <br>
                </div>
                
                {% endfor %}
                    
                <!-- <div class="col-12 col-md-4">
                    <div>
                        <h6>Pague Menos</h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;"><img class="img-fluid pb-lg-5" src="{% static 'assets/img/logo_paguemenos.png' %}" width="220" height="158" style="display: block;border-style: none;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="pag_detalhe.html?id=">Ver detalhes</a></div>
                    <p class="mb-1">Farmaceutica</p>
                    <p class="mb-1">(86) 9 2222-8783</p>
                    <p class="mb-1">R. Benedito Feitosa Cardoso, 3330 - Itararé, Teresina - PI, 64078-165</p>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <h6>J.Monte</h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;"><img class="img-fluid" src="{% static 'assets/img/logo_jmonte.png' %}" width="220" height="158" style="display: block;border-style: none;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="pag_detalhe.html?id=">Ver detalhes</a></div>
                    <p class="mb-1">Loja de material de construção</p>
                    <p class="mb-1">(86) 9 3033-3030</p>
                    <p class="mb-1">Quadra A, 13 - Itararé, Teresina - PI, 64077-265</p>
                </div>
            </div>
            <div class="row" style="padding-top: 40px;">
                <div class="col-12 col-md-4">
                    <div>
                        <h6>Garagem</h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;position: relative;"><img class="img-fluid" src="{% static 'assets/img/logo_garagem.png' %}" width="220" height="158" style="display: block;border-style: none;position: relative;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="pag_detalhe.html?id=">Ver detalhes</a></div>
                    <p class="mb-1">Pizzaria</p>
                    <p class="mb-1">(86) 9 3033-3030</p>
                    <p class="mb-1">Av. José Francisco de Almeida Neto - Itararé, Teresina - PI</p>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <h6>Puro Açaí</h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;"><img class="img-fluid pb-lg-5" src="{% static 'assets/img/logo_puroacai.png' %}" width="220" height="158" style="display: block;border-style: none;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="pag_detalhe.html?id=">Ver detalhes</a></div>
                    <p class="mb-1">Açaíteria</p>
                    <p class="mb-1">(86) 9 2222-8783</p>
                    <p class="mb-1">R. Benedito Feitosa Cardoso, 3330 - Itararé, Teresina - PI, 64078-165</p>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <h6>Papelaria do Estudante</h6>
                    </div>
                    <div class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center div-com-botao" style="background: #ffffff;height: 222px;"><img class="img-fluid" src="{% static 'assets/img/logo_papelaria.png' %}" width="220" height="158" style="display: block;border-style: none;"><a class="btn btn-primary border rounded-0 d-xl-flex botao-no-canto" role="button" href="pag_detalhe.html?id=">Ver detalhes</a></div>
                    <p class="mb-1">Papelaria</p>
                    <p class="mb-1">(86) 9 3033-3030</p>
                    <p class="mb-1">Av. José Francisco de Almeida Neto - Itararé, Teresina - PI, 64078-271</p>
                </div>
            </div> -->
        </div>
    </section>
    {% include "footer.html" %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>